<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vote!</title>
    <base href="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <meta name="keywords" content="docker-compose, docker, stack">
    <meta name="author" content="Docker DevRel team">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
